<!-- todo stylize -->
<!doctype html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Set new password</title>
    <style >

    </style>
</head>

<body>
<div id="d1">
    <h2 id="h1">Reset your password</h2>
    <div>
        <span id="sp1">Create a new password for your account</span>
    </div>
    <div>
        <label id="l1">password</label>
        <input id="password" name="newPassword" type="password" value="" />
    </div>
    <div>
        <label id="l2" >confirm</label>
        <input id="matchPassword" type="password" value="" />
    </div>
    <div>
        <div id="globalError" style="display:none">
            <span id="error"> error </span>
        </div>
        <button type="submit" onclick="savePass()">
            <span id="sp2">Reset your password</span>
        </button>
    </div>
</div>
<div id="errorRequest" style="display: none">
    <span id="sp5"> Error. The password reset operation failed. Contact your system administrator.</span>
</div>
<div id="sucRequest" style="display: none">
    <span id="sp6"> New password has been successfully set.</span>
</div>
<div>
    <label><span id="sp3">Return to</span><a href="/index.html"> <span id="sp4">sign in</span></a> </label>
</div>

    <script>
        let srvCont = "{{serverContext}}";
        let usrId = "{{userId}}";
        let jwtToken = "{{jwtToken}}";
        let authHeader = 'Bearer ' + jwtToken
        let userLang = navigator.language;

        let h1 = document.getElementById('h1');
        let sp1 = document.getElementById('sp1');
        let l1 = document.getElementById('l1');
        let l2 = document.getElementById('l2');
        let sp2 = document.getElementById('sp2');
        let sp3 = document.getElementById('sp3');
        let sp4 = document.getElementById('sp4');
        let sp5 = document.getElementById('sp5');
        let sp6 = document.getElementById('sp6');
        if (userLang.toUpperCase() === "RU") {
            window.document.documentElement.lang = "ru";
            window.document.title = "Установить новый пароль";
            h1.innerHTML = "Сбросить ваш пароль";
            sp1.innerHTML = "Создайте новый пароль для своей учетной записи";
            l1.innerHTML = "пароль";
            l2.innerHTML = "подтвердить";
            sp2.innerHTML = "Сбросить ваш пароль";
            sp3.innerHTML = "Вернуться на ";
            sp4.innerHTML = "страницу авторизации";
            sp5.innerHTML = "Ошибка. Не удалось сбросить пароль. Обратитесь к системному администратору.";
            sp6.innerHTML = "Новый пароль был успешно установлен.";
        } else if (userLang.toUpperCase() === "UK") {
            window.document.documentElement.lang = "uk";
            window.document.title= "Встановити новий пароль";
            h1.innerHTML = "Скинути пароль";
            sp1.innerHTML = "Створіть новий пароль для свого облікового запису";
            l1.innerHTML = "пароль";
            l2.innerHTML = "підтвердити";
            sp2.innerHTML = "Скинути пароль";
            sp3.innerHTML = "Повернутися до ";
            sp4.innerHTML = "сторінки авторизації";
            sp5.innerHTML = "Помилка. Не вдалося скинути пароль. Зверніться до свого системного адміністратора.";
            sp6.innerHTML = "Новий пароль успішно встановлено.";
        }

        function savePass(){
            let passwd = document.getElementById('password').value;
            let matchPassword = document.getElementById('matchPassword').value;
            let globalErrorDiv = document.getElementById('globalError');
            let error = document.getElementById('error');
            let divErrorRequest = document.getElementById('errorRequest');
            let divSucRequest = document.getElementById('sucRequest');
            let divD1 = document.getElementById('d1');

            if (passwd.length < 8) {
                globalErrorDiv.setAttribute('style', 'display: block;');
                if (userLang.toUpperCase() === "RU") {
                    error.innerHTML = "Неверный пароль. Пароль меньше 8 символов.";
                } else if (userLang.toUpperCase() === "UK") {
                    error.innerHTML = "Невірний пароль. Пароль менший за 8 символів.";
                } else {
                    error.innerHTML = "Wrong password. Password is less than 8 characters.";
                }
                return;
            }
            if(passwd !== matchPassword){
                globalErrorDiv.setAttribute('style', 'display: block;');
                if (userLang.toUpperCase() === "RU") {
                    error.innerHTML = "Пароли должны совпадать.";
                } else if (userLang.toUpperCase() === "UK") {
                    error.innerHTML = "Паролі повинні збігатися";
                } else {
                    error.innerHTML = "Passwords must match";
                }
                return;
            }
            let urlNewPassword = srvCont + "/users/setPassword/" + usrId +
                "?newPassword=" + passwd;
            console.log("url: " + urlNewPassword);
            fetch(urlNewPassword, {
                method:"PUT",
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': authHeader
                    }
            }).then(result => {
                // fixme
                console.log("Completed with result:", result);
                if (result.ok) {
                    divD1.setAttribute('style', 'display: none;');
                    divSucRequest.setAttribute('style', 'display: block;');
                } else {
                    divD1.setAttribute('style', 'display: none;');
                    divErrorRequest.setAttribute('style', 'display: block;');
                }
            }).catch(err => {
                console.error(err);
                divD1.setAttribute('style', 'display: none;');
                divErrorRequest.setAttribute('style', 'display: block;');
            });
        }
    </script>
</body>
</html>